# Dependency directories
node_modules/

# Next.js build and outputs
.next/
out/

# Production build output
build/
dist/

# Environmental variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
*.local
