@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0f0d;
    --card: #ffffff;
    --card-foreground: #0a0f0d;
    --popover: #ffffff;
    --popover-foreground: #0a0f0d;
    --primary: #10b981;
    --primary-foreground: #ffffff;
    --secondary: #f4f4f5;
    --secondary-foreground: #0a0f0d;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #0a0f0d;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #10b981;
    --radius: 0.5rem;
  }
  .dark {
    --background: #09090b;
    --foreground: #f4f4f5;
    --card: #09090b;
    --card-foreground: #f4f4f5;
    --popover: #09090b;
    --popover-foreground: #f4f4f5;
    --primary: #10b981;
    --primary-foreground: #ffffff;
    --secondary: #27272a;
    --secondary-foreground: #f4f4f5;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #f4f4f5;
    --destructive: #7f1d1d;
    --destructive-foreground: #f4f4f5;
    --border: #27272a;
    --input: #27272a;
    --ring: #10b981;
  }
}
